<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ToDoList</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            font-size: 15px;
            border: 2px solid #bce8f1;
            text-align: center;
            padding: 5px;
        }

        thead {
            background-color: black;
            color: whitesmoke;
        }

        tr:nth-child(even) {
            background-color: #46b8da;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="center-block" style="text-align: center">
        <h1 style="font-family: Verdana;"><strong>My To Do List</strong></h1>
    </div>
    <br/>
    <div class="center-block" style="width:100px;margin:10px 0;">
        <input id="description" type="text" value=""/>
        <input id="insert" type="submit" value="등록"/>
        <a href="#" onclick="document.getElementById('logout-form').submit();">Sign out</a>
        <form id="logout-form" action="/logout" method="POST">
            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
        </form>
    </div>

    <div id="main" th:each="todoList : ${todoList}"
         style="width:100%; height: auto; border: 3px solid black; border-radius: 10px; margin-top: 20px">
        <div th:if="!${todoList.status}">
            <button data-th-value="${todoList.idx}" class="complete"
                    style="float: left; background-color: white; border: white; outline: white;padding-left: 10px; padding-right: 30px">
                <img src="/images/not_complete_box.png" style="width:20px;height:20px; margin-top: 70px" class="img1">
            </button>
        </div>
        <div th:if="${todoList.status}">
            <button data-th-value="${todoList.idx}" class="complete"
                    style="float: left; background-color: white; border: white; outline: white;padding-left: 10px; padding-right: 30px">
                <img src="/images/complete_check_box.png" style="width:20px;height:20px; margin-top: 70px" class="img1">
            </button>
        </div>
        <div>
            <h1 class="content" th:text="${todoList.description}" contenteditable="false"
                style="display: inline-block; margin-top: 60px; margin-bottom: 20px;"></h1>
            <button type="button" class="reply" style="float: right; background-color: white; border: 0; outline: 0;">
                <img src="/images/reply.png" style="width:20px;height:20px; margin-top: 70px"></button>
            <button data-th-value="${todoList.idx}" class="delete"
                    style="float: right; background-color: white; border: 0; outline: 0; display: block;"><img
                    src="/images/trash_icon.png" style="width:20px;height:20px; margin-top: 70px"></button>
            <button type="button" data-th-value="${todoList.idx}" class="update"
                    style="float: right; margin: auto; background-color: white; border: white; outline: white; display: block;">
                <img src="/images/edit.png" style="margin-top: 70px"></button>
        </div>
        <div class="datetime">
            <p th:text="${todoList.createdDate} ? ${#temporals.format(todoList.createdDate,'yyyy-MM-dd HH:mm')} : ${todoList.createdDate}"
               style="padding-left: 30px; margin-top: 30px"></p>
        </div>
        <ul class="list">
            <li class="replylist" th:each=" comments : ${todoList.comments}" th:data-idx="${comments.idx}"
                style="display: none; list-style: none">
                <h1 class="replycontent" th:text="${comments.content}" contenteditable="false"
                    style="display: inline-block;"></h1>
                <p th:text="${comments.createdDate} ? ${#temporals.format(comments.createdDate,'yyyy-MM-dd HH:mm')} : ${comments.createdDate}"></p>
                <button data-th-value="${comments.idx}" class="replydelete"
                        style="float: right; background-color: white; border: white; outline: white; display: block;">
                    <img src="/images/trash_icon.png" style="width:20px;height:20px;"></button>
                <button type="button" data-th-value="${comments.idx}" class="replyupdate"
                        style="float: right; margin: auto; background-color: white; border: 0; outline: 0; display: block;">
                    <img src="/images/edit.png"></button>
            </li>
        </ul>


        <div class="replyclass" style="display: none">
            <input class="reply_text" type="text" value="">
            <button th:value="${todoList.idx}" type="button" class="replysave" value="저장">저장</button>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('.reply').click(function () {     //댓글 보기, 숨기기
        $(this).parent().parent().find('.replyclass').toggle(1000);
        $(this).parent().parent().find('.replylist').toggle(1000);
    });
    $('.replysave').click(function () {     //댓글 저장
        var v = $(this).val() - 1;
        var reply_text = $('.reply_text').eq(v).val();
        var ul_tag = $(this).parent().parent().find('ul');
        var jsonData = JSON.stringify({
            content: reply_text
        });
        $.ajax({ //ajax
            url: "http://localhost:8080/comment/create/" + $(this).val(),
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                var content = data['content'];
                var createdtime = data['createdDate'];
                var idx = data['idx'];
                var li = document.createElement('li');
                li.className = 'replylist';
                li.setAttribute('data-idx', idx);
                var h1 = document.createElement('h1');
                h1.className = 'replycontent';
                h1.setAttribute('contenteditable', 'false');
                var delete_btn = document.createElement('button');
                delete_btn.className = 'replydelete';
                var edit_btn = document.createElement('button');
                edit_btn.className = 'replyupdate';
                var createdDate = document.createElement('p');
                h1.appendChild(document.createTextNode(content));
                createdDate.appendChild(document.createTextNode(createdtime.toString()));
                edit_btn.appendChild(document.createTextNode('수정'));
                delete_btn.appendChild(document.createTextNode('삭제'));
                li.append(h1);
                li.append(createdDate);
                li.append(edit_btn);
                li.append(delete_btn);
                ul_tag.append(li);
                reply_text.val('');
                reply_text.focus();
            },
            error: function () {
                alert('저장 실패!');
            }
        });
    });
    $(document).on('click', '.replycontent', function () {
        var idx = $(this).parent().data('idx');
        var contented = $(this).parent().find('.replycontent').attr('contenteditable');
        alert(typeof contented);
        if (contented === "false") {
            $(this).parent().find('.replycontent').attr('contenteditable', true);
            alert(typeof contented);
            $(this).parent().find('.replycontent').trigger('focus');
            var replydata = $(this).parent().find('h1');
            $(document).on('click', '.replyupdate', function () {
                $.ajax({
                    url: "http://localhost:8080/comment/update/" + idx,
                    type: "PUT",
                    data: replydata.text(),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        var reply = data['content'];
                        replydata.text(reply);
                    },
                    error: function () {
                        alert('수정 실패!');
                    }
                });
                $(this).parent().find('.replycontent').attr('contenteditable', false);
            })
        }
    });
    /*var s = 1;
    $('.relpyupdate').click(function () {
        if(s == 1) {
            $(this).parent().find('.replycontent').attr('contenteditable', true);
            $(this).parent().find('.replycontent').trigger('focus');
            s = 2;
        }
        if(s == 2){
            $('.relpyupdate').click(function () {
                var replydata = $(this).parent().find('.replycontent').text();
                var update_id = $(this).val();
                $.ajax({
                    url: "http://localhost:8080/comment/update/" + update_id,
                    type: "PUT",
                    data: replydata,
                    contentType: "application/json",
                    dataType: "json",
                    success: function () {
                        location.href = '/tdl/list';
                    },
                    error: function () {
                        alert('수정 실패!');
                    }
                });
                $(this).parent().find('.replycontent').attr('contenteditable', false);
                s = 1;
            });
        }
    });*/
    $(document).on('click', '.replydelete', function () {
        var idx = $(this).parent().data('idx');
        var li = $(this).parent();
        $.ajax({
            url: "http://localhost:8080/comment/delete/" + idx,
            type: "DELETE",
            contentType: "application/json",
            dataType: "json",
            success: function () {
                li.remove();
            },
            error: function () {
                alert("삭제 실패");
            }
        });
    });
    $('.logout').click(function () {
        $.ajax({ //ajax
            url: "http://localhost:8080/tdl/logout",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                location.href = '/login';
            },
            error: function () {
                alert('로그아웃 실패!');
            }
        });
    });
    $('#insert').click(function () {
        if ($('#description').val().trim().length == 0) {
            alert("내용을 입력하세요. ");
            $('#description').val().focus();
            return false;
        }
        var jsonData = JSON.stringify({
            description: $('#description').val()
        });
        $.ajax({ //ajax
            url: "http://localhost:8080/tdl/",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('저장 성공!');
                location.href = '/tdl/list';
            },
            error: function () {
                alert('저장 실패!');
            }
        });
    });
    $('.delete').click(function () {
        var idx = $(this).val();
        $.ajax({
            url: "http://localhost:8080/tdl/delete/" + idx,
            type: "DELETE",
            success: function () {
                alert('삭제 성공!');
                location.href = '/tdl/list';
            },
            error: function () {
                alert('삭제 실패!');
            }
        });
    });
    var a = 1;
    $('.update').click(function () {
        if (a == 1) {
            $(this).parent().find('.content').attr('contenteditable', true);
            $(this).parent().find('.content').trigger('focus');
            a = 2;
            $(this).find('.delete').attr(display = "none")
        }
        if (a == 2) {
            $('.update').click(function () {
                var descriptiondata = $(this).parent().parent().find('.content').text();
                var update_id = $(this).val();
                $.ajax({
                    url: "http://localhost:8080/tdl/update/" + update_id,
                    type: "PUT",
                    data: descriptiondata,
                    contentType: "application/json",
                    dataType: "json",
                    success: function () {
                        location.href = '/tdl/list';
                    },
                    error: function () {
                        alert('수정 실패!');
                    }
                });
                $(this).parent().parent().find('.content').attr('contenteditable', false);
                a = 1;
            });
        }
    });
    $('.complete').click(function () {
        $.ajax({
            url: "http://localhost:8080/tdl/complete/" + $(this).val(),
            type: "PUT",
            contentType: "application/json",
            dataType: "json",
            success: function () {
                location.href = '/tdl/list';
            },
            error: function () {
                alert('완료 실패!');
            }
        });
    });
</script>

</body>
</html>